.round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
  border: none;
}

.round.disabled {
  pointer-events: none;
}

.round:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}

.round.active,
.round.active:hover {
  background-color: var(--orange);
}

@media screen and (max-width: 480px) {
  .round {
    height: 35px;
    width: 35px;
  }
}
